* {
 box-sizing: border-box;
}

body {
 margin: 0;

}

#h1 {
 color: white;
}

.header {
 padding: 10px;
 color: white;
 background-color: black;
 text-align: center;
}

.topnav {
 overflow: hidden;
 background-color:white;
 border-bottom:solid black;
}


.topnav a {
 float: left;
 display: block;
 color: black;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

.topnav a:hover {
 background-color: black;
 color: white;
 font-weight: bold
}

.column {
 float: left;
 padding: 10px;
}


.column.side {
 width: 57%;
 border-right: solid black ;
}

.column.middle {
 width: 43%;
 text-align: center;
}

.row:after {
 content: "";
 display: table;
 clear: both;
}

@media screen and (max-width: 600px) {
 .column.side, .column.middle {
     width: 100%;
 }
}

.footer {
 background-color: black;
 color: white;
 padding: 10px;
 text-align: center;
}

#bor1 {
 border-bottom: solid black;
 border-width: 1px;
}

#bor2 {
 border-top: solid black;
 border-width: 2px;
}
