body {
    display: block;
    background-color: whitesmoke;
}

#header {
    background-color: whitesmoke;
    min-height: 100px;
}

#block-1 {
    width: 66.67%;
    display: block;
    float: left;
}

#block-2 {
    width: 33.33%;
    display:block;
    float: right;
}

.inp {
    direction: ltr;
    -webkit-appearance: none;
    margin: 0;
    background: #FFFFFF;
    border: 1px solid #dddfe2;
    height: 22px;
    line-height: 16px;
    vertical-align: middle;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
    font-family: inherit;
}

.input {
    padding-top: 33px;
}

h2 {
    margin-left: 160px;
}

#box-form {
    margin-top: 100px;
    width: 399px;
    height: 345px;
    background-color:white;
    border-radius: 15px;
    text-align: center;
}

.button {
    width: 360px;
    height: 33px;
    margin-top: 21px;  
    margin-bottom: 21px;
    border: none;
    border-radius: 15px;
    background-color: blue;
    color: white;
    font-weight: bold;
}

.footer {
    display: inline-block;
    background-color: whitesmoke;
    margin-top: 300px;
    margin-left: 333px;
}

